html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}


.body {
  max-width: 1000px;
  margin: auto;
}

.container {
  overflow-x: auto;
}


.text__description {
  font-family: "Lato", sans-serif;
}

.hide {
  display: none;
}